<!-- <div class="row">
	<div class="col-md-12 text-center search-wrapper">
		<input class="col-md-6" #searchBox id="search-box" placeholder="Search by type (fire, poison...)" />
		<input class="col-md-6" #searchBoxx id="search-box2" placeholder="Search by ability" />
	</div>
</div>

<div class="pokemon" *ngFor="let pokemonMongo of pokemonsMongo | async">
	   <div class="pokemon-number">
		   {{pokemonMongo.number}}
	   </div>
	   <div class="pokemon-img">
	   		<img class="display-block pokemon-sprite" src="{{pokemonMongo.img}}"/>
   		</div>
	   <span class="pokemon-title">
		   {{pokemonMongo.name | camelCase }}
	   </span>

	   <div class="row">
		   <div class="pokemon-info col-md-6 border-right">
			   {{pokemonMongo.height}}
			   <span class="pokemon-info-title">Height</span>
		   </div>

		   <div class="pokemon-info col-md-6">
			   {{pokemonMongo.weight}}
			   <span class="pokemon-info-title">Weight</span>
		   </div>
	   </div>

	   <div class="pokemon-info">
		   <span [ngClass]="type" class="label-type" *ngFor="let type of pokemonMongo.types">{{type}}</span>
		   <span class="pokemon-info-title type-info">Type</span>
	   </div>

	   <div class="row">
		   <img class="pokemon-icon" src="../assets/more.png" (click)="myModal.open()"/>
	   <modal
		   #myModal
		   modalClass="pkm-modal"
	   >
	   <modal-header class="pkm-modal-header"></modal-header>
		  <modal-content>
		   <div class="col-md-12">
			   <img class="display-block pokemon-sprite" src="{{pokemonMongo.img}}"/>
		   </div>

		   <div class="col-md-12">
			   <h2>{{pokemonMongo.name | camelCase }}</h2>
		   </div>

		   <div class="col-md-12 enhance-margin">
			   <div class="col-md-6 col-sm-6 col-xs-6">
				   <span class="display-block pokemon-subtitle">Id</span>
				   <span class="display-block pokemon-data">{{pokemonMongo.id}}</span>
			   </div>
			   <div class="col-md-6 col-sm-6 col-xs-6">
				   <span class="display-block pokemon-subtitle">Name</span>
				   <span class="display-block pokemon-data">{{pokemonMongo.name | camelCase}}</span>
			   </div>
		   </div>

		   <div class="col-md-12 enhance-margin">

		   </div>

		  </modal-content>
		  <modal-footer class="pkm-modal-footer">
			<button class="btn btn-success" (click)="myModal.close()">Close</button>
			   </modal-footer>
	   </modal>
	   </div>
</div> -->
